
/* Linha do banner */
img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font: 33px sans-serif;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}
 
h1.no-background {
	position: relative;
	overflow: hidden;
	color: white;
}

h1.no-background span {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
	position: relative;
	padding: 0 20px;
}

h1.no-background span:before,
h1.no-background span:after {
	content: '';
	display: block;
	width: 1000px;
	position: absolute;
	top: 0.73em;
	border-top: 1px solid white;
}

h1.no-background span:before {
	right: 100%;
}

h1.no-background span:after {
	left: 100%;
}

.titulos-banner{
	height: 400px;
	padding-top: 150px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* ARTE SOLIDARIA */

.inicial {
	
	width: 100%;
	height: 400px;
	background-image: url(../img/artesolidariabanner.jpg);
    background-position: center 70%;
}

.inicial > h3, .descricao {
	float: left;
	width: 100%;
	margin-top: 150px;
	font-size: 40px;
	text-align: center;
	color: #FFF;
}

.inicial > h3 {
	font-weight: 600;
}

.inicial > .descricao {
	width: 80%;
	margin: 0px 10%;
	margin-bottom: 0px;
	font-size: 20px;
}

/* CARICATURA AO VIVO */


.inicial2 {
	width: 100%;
	height: 400px;
	background-image: url(../img/caricaturabanner.jpg);
    background-position: center 70%;
}

.inicial2 > h3, .descricao {
	float: left;
	width: 100%;
	margin-top: 150px;
	font-size: 40px;
	text-align: center;
	color: #FFF;
}

.inicial2 > h3 {
	font-weight: 600;
}

.inicial2 > .descricao {
	width: 80%;
	margin: 0px 10%;
	margin-bottom: 0px;
	font-size: 20px;
}


/* WORKSHOP */


.inicial3 {
	
	width: 100%;
	height: 400px;
	background-image: url(../img/workshopbanner.jpg);
    background-position: center 70%;
}

.inicial3 > h3, .descricao {
	float: left;
	width: 100%;
	margin-top: 150px;
	font-size: 40px;
	text-align: center;
	color: #FFF;
}

.inicial3 > h3 {
	font-weight: 600;
}

.inicial3 > .descricao {
	width: 80%;
	margin: 0px 10%;
	margin-bottom: 0px;
	font-size: 20px;
}


/*seção*/


.secao{
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulo-eventos {
    text-align: center;
    color: #fff;
}


/*eventos*/


.eventos{
    background-color: #0071bd;
    padding-bottom: 50px;
}

.titulo-eventos{
    text-align: center;
    padding: 20px;
}

.botao{
    text-decoration: none !important;
    color: black !important;
}

.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 5px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.icones {
    padding-right: 6px;
}

.titulo-programacao{
    text-decoration: none !important;
    color: black !important;
    font-size: 15px !important;
}


/* galeria */


.titulo-galeria{
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 30px;
    text-align: center;
}

.linha3{
    width: 10%;
    border-top: 3px solid rgba(56, 52, 52, 0.9);
    border-radius: 100px;
}

.botao-galeria{
    text-align: center;
}
  
.card-deck{
    padding-bottom: 30px !important;
}
  
.galerias{
    padding-top: 50px;
}
  
.cards{
    border: none !important;
}

.galeria1{
    text-align: center;
    padding-bottom: 50px;
}
  
.galerias img{
    vertical-align: baseline !important;
    border-style: none;
    background-size: cover;
    background-position: center center;
}
  
.example-image:hover{
    opacity: 0.4 !important;
}

.botao-home{
    color: white;
    text-decoration: none;
}
  
.botao-home:hover{
    text-decoration: none;
    color: white
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover !important;
}

